.IniCardFormulario {
    color:rgb(245, 245, 245);
    background-image: url("../foticos/BloodPixel-Photoroom.png");
    height:500px;
}

.IniCardFormulario h1 {
    margin-left: 35px;
    padding: 15px;
}

.MarcoFormulario {
    background-image: url("../foticos/MarcoRemas.png");
    background-repeat: no-repeat;
    width: 600px;
    height: 450px;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;    
    box-shadow: rgb(87, 87, 193);
}

.FormularioContent {
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 70px;
    padding-bottom: 30px;
}

.encuestaVotarPresen {
    background-image: url("../foticos/BloodPixel-Photoroom.png");
    color:aliceblue;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.votarPage {
    background-image: url("../foticos/@mridultraj.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.EncuestaFinalVotar {
   color:aliceblue;
   background-image: url("../foticos/fondodesol.jpeg");
   background-repeat: no-repeat;
   background-position: center;
   height: 400px;
   text-align: center;
   margin: 0 auto;
   line-height: 30px;
   margin: 0 auto;
   width: 700px;
   padding-top: 40px;
   border-radius: 10px;
}

.panelInicioOtraPrin {
    background-image: url("../foticos/Captura\ de\ pantalla_20260808_023434.png");
    height: 204px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 360px 210px;
}

.annerPanitaPa {
    background-image: url("../foticos/Fondo\ de\ pantalla\ para\ YouTube\ \(1\).jpeg");
    background-repeat: no-repeat;
    background-size: 1090px 90px;
    height: 90px;
    background-position: 200px 0px;
    background-attachment: local;

    
}

a {
    text-decoration: none;
    color: inherit;
}

.menuOtraPrin {
    text-align: cover;
}

.logoNoLogo {
    background-image: url("../foticos/lineaCal.jpeg");
    background-size: 13% 90px;
    background-repeat: no-repeat;
    height: 100px;
    color:aliceblue;
    background-attachment: local;
}

body#bodyMaYDeb {
    background-image: url("../foticos/FondoEscri.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.tituloInicioEce img {
    margin-left: 300px;
    margin-top: 10px;
    box-shadow: 0.5px 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.miLoGoO {
    width: 200px;
    height: 180px;
    margin-left: 1220px;
    margin-top: -200px;
    box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.2);

}

@font-face {
    font-family: "Perfect DOS VGA 437";
    src: url("../Fuentes/Perfect\ DOS\ VGA\ 437.ttf");
}

.textoMenu p5 {
    font-family: "Perfect DOS VGA 437", monospace;
}

.menuTitulo {
    font-family: "Perfect DOS VGA 437", monospace;
}

.teleTerminalBlu img {
    margin-left: 10px;
    margin-top: -220px;
    width: 230px;
    height: 220px;
    box-shadow: 1px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.teleTerminalBlu h3 {
    margin-top: -188px;
    margin-left: 112px;
    color:aliceblue;
    font-size: 14px;
    font-family: "Perfect DOS VGA 437", monospace;
}

.teleTerminalBlu p1 {
    color:aliceblue;
    font-size: 13px;
    font-family: "Perfect DOS VGA 437", monospace;
    margin-left: 80px;
}
